/* Start varibles */
:root {
  --mine-color: #2196f3;
  --mine-color-alt:#1787e0;
  --mine-transition: 0.3s;
  --mine-paddidng-section: 100px;
  --section-background: #ececec;
}

/* End varibles */
/* Start Glubal rouls */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* midem */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* larg */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Glubal rouls */
/* Start commponans */

.mine-title {
  text-transform: uppercase;
  border: black 2px solid;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto 80px;
  position: relative;
  width: fit-content;
  z-index: 1;
  transition: var(--mine-transition);
}
.mine-title::after,
.mine-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--mine-color);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.mine-title::before {
  left: -30px;
}

.mine-title::after {
  right: -30px;
}

.mine-title:hover {
  color: white;
  border-color: transparent;
  transition-delay: 0.5s;
}

.mine-title:hover::before {
  animation: move-left 0.5s linear forwards;
}

.mine-title:hover::after {
  animation: move-right 0.5s linear forwards;
}
@keyframes move-left {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes move-right {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
  }
}
/* End commponans */

/* Start header */

.header {
  background-color: white;
  box-shadow: 0 0 10px #DDD;
  position: relative;
}

.header .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* fonr mega minue-------------------------------------------------- */
  position: relative;
}

.header .logo {
  color: var(--mine-color);
  text-decoration: none;
  height: 72px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:767px) {
  .header .logo {
    width: 100%;
    height: 40px;
  }
}

.header .mine-nav {
  display: flex;
}

@media (max-width:767px) {
  .header .mine-nav {
    margin: 0 auto;
  }
}

.header .mine-nav > li > a {
  display: block;
  height: 72px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  position: relative;
  overflow: hidden;
  transition: var(--mine-transition);
}

@media (max-width:767px) {
  .header .mine-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}

.header .mine-nav > li > a:hover {
  color: var(--mine-color);
  background-color: #fafafa;
}

.header .mine-nav > li > a::before {
  content: "";
  position: absolute;
  background-color: var(--mine-color);
  height: 4px;
  width: 100%;
  top: 0;
  left: -100%;
  transition: var(--mine-transition);
}

.header .mine-nav > li > a:hover::before{
  left: 0%;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 50px);
  padding: 30px;
  display: flex;
  background-color: white;
  border-bottom: var(--mine-color) solid 3px;
  z-index: -1;
  gap: 40px;
  opacity: 0;
  transition:var(--mine-transition);
}

@media (max-width:767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mine-nav li:last-child:hover .mega-menu {
  z-index: 2;
  top: calc(100% + 1px);
  opacity: 1;
}

.header .mega-menu .image img{
  max-width: 100%;
}

@media (max-width:991px) {
  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #E9E6E9;
}

@media (max-width:767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #E9E6E9;
  }
}

.header .mega-menu .links li::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fafafa;
  transition: var(--mine-transition);
  z-index: -1;
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--mine-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.header .mega-menu .links li a i  {
  margin-right: 10px;
}

/* End header */
/* Start Landing */
.landing {
  position: relative;
  overflow: hidden;
}

@media (max-width:767px) {
  .landing {
    height: calc(100vh - 80px);
  }
}

.landing::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ececec;
  position: absolute;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: -40px;
  z-index: -1;
}

.landing .container {
  display: flex;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
  align-items: center;
}

@media (max-width: 991px) {
  .landing .container {
    justify-content: center;
    text-align: center;
  }
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .container .text h1 {
  font-size: 40px;
  text-transform: capitalize;
  margin: 0%;
  letter-spacing: -2px;
}

@media (max-width:767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}

.landing .container .text p {
  font-size: 23px;
  color: #666;
  line-height: 1.7;
  max-width: 500px;
  margin-top: 5px;
}

@media (max-width:991px) {
  .landing .container .text p {
    margin: 10px auto;
  }
}

@media (max-width:767px) {
  .landing .container .text p {
    font-size: 18px;
  }
}

.landing .container .image img {
  width: 600px;
  position: relative;
  animation: up-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}

@keyframes up-down {
  0%, 100% {
    top: 0px;
  }

  50% {
    top: -50px;
  }
}

.landing a i {
  color: var(--mine-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--mine-transition);
  animation: arrow 1.5s infinite;
}

.landing a i:hover {
  color: var(--mine-color-alt);
}

@keyframes arrow {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 30px;
  }

  40%,
  60% {
    bottom: 45px;
  }
}

/* End Landing */
/* Start Articles */

.article {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
}

.article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.article .container .card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  transition: var(--mine-transition);
}

.article .container .card:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  transform: translateY(-10px);
}

.article .container .card .text {
  padding: 20px;
}

.article .container .card .text h3 {
  text-transform: capitalize;
}

.article .container .card .text p {
  color: #666;
  margin-top: 10px;
  line-height: 1.5;
}

.article .container .card .foot {
  padding: 20px;
  border-top: 1px #E6E6E7 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article .container .card .foot a {
  color: var(--mine-color);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.article .container .card .foot i {
  color: var(--mine-color);
  transition: var(--mine-transition);
}

.article .container .card:hover i {
  animation: left 0.6s linear infinite;
}

@keyframes left {
  100% {
      transform: translateX(10px);
  }
}

.article .container .card img {
  max-width: 100%;
}

/* End Articles */
/* Start Gallery */

.gallery {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  background-color: white;
  padding: 15px;
  box-shadow: 
  0 12px 20px 0px rgba(0, 0, 0, 13%),
  0 2px 4px 0px rgba(0, 0, 0, 12%) ;
}

.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 20%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--mine-transition);
  opacity: 0;
  z-index: 1;
}

.gallery .container .box .image:hover::before {
  animation: grow 0.7s;
}

@keyframes grow {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.gallery .container .box img {
  max-width: 100%;
  transition: var(--mine-transition);
}

.gallery .container .box .image:hover img{
  transform: rotate(3deg) scale(1.1);
}


/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:40px;
}

.features .container .card {
  border: solid #E6E6E7;
}

.features .container .card .image {
  position: relative;
  overflow: hidden;
}

.features .container .card .image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.features .container .card:first-of-type .image::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .container .card:nth-of-type(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .container .card:last-of-type .image::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .container .card .image::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0px 0px 170px 450px;
  right: 0;
  bottom: 0;
  transition: var(--mine-transition);
}

.features .container .card:hover .image::after {
  border-width: 0px 350px 170px 450px;
}

.features .container .card .image img {
  max-width: 100%;
}

.features .container .card .text {
  text-align: center;
  position: relative;
}

.features .container .card .text h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
  margin: 0px auto 30px;
  padding: 20px 0;
  width: fit-content;
  position: relative;
}

.features .container .card .text h2::before {
  content: "";
  height: 5px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.features .container .card:first-of-type .text h2::before {
  background-color: rgb(244 64 54 / 100%);
}

.features .container .card:nth-of-type(2) .text h2::before {
  background-color: rgb(0 150 136 / 100%);
}

.features .container .card:last-of-type .text h2::before {
  background-color: rgb(3 169 244 / 100%);
}

.features .container .card .text p {
  color: #666;
  font-size: 20px;
  line-height: 2;
  padding: 0 25px;
}

.features .container .card a {
  margin: 40px auto 30px;
  display: block;
  border: 3px solid;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  width: fit-content;
  position: relative;
  transition: var(--mine-transition);
}

.features .container .card:first-of-type a {
  border-color: rgb(244 64 54 / 100%);
  color: rgb(244 64 54 / 100%);
}

.features .container .card:nth-of-type(2) a {
  border-color: rgb(0 150 136 / 100%);
  color: rgb(0 150 136 / 100%);
}

.features .container .card:last-of-type a {
  border-color: rgb(3 169 244 / 100%);
  color: rgb(3 169 244 / 100%);
}

.features .container .card:hover a {
  color: white;
}

.features .container .card a::before {
  content: "";
  width: 0%;
  height: 100%;
  left: 0%;
  top: 50%;
  transform: translatey(-50%);
  position: absolute;
  transition: width var(--mine-transition);
  z-index: -1;
}

.features .container .card:first-of-type a::before {
  background-color: rgb(244 64 54 / 100%);
}

.features .container .card:nth-of-type(2) a::before {
  background-color: rgb(0 150 136 / 100%);
}

.features .container .card:last-of-type a::before {
  background-color: rgb(3 169 244 / 100%);
}

.features .container .card:hover a::before {
  width: 100%;
}

/* End Features */
/* Start Testimonials */

.testimonials {
  padding-bottom: var(--mine-paddidng-section);
  padding-top: var(--mine-paddidng-section);
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .container .card {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  box-shadow: 0 5px rgba(0, 0, 0, 7%);
}

.testimonials .container .card img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  right: -10px;
  top: -50px;
  border: solid var(--section-background) 10px;
}

.testimonials .container .card h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.testimonials .container .card p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonials .container .card p:last-of-type {
  margin: 0;
}

.testimonials .container .card .stars {
  margin-bottom: 10px;
}

.testimonials .container .card .stars i.fa-solid {
  color:#ffc107;
}

/* End Testimonials */
/* Start Team Members */

.team-members {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team-members .container .box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding-top: 60px;
  overflow: hidden;
  border-radius: 6px;
}

.team-members .container .box::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #eee;
  z-index: -1;
  border-radius: 6px;
}

.team-members .container .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #DDD;
  z-index: -1;
  border-radius: 6px;
  transition: width var(--mine-transition);
}

.team-members .container .box:hover::after {
  width: 80%;
}

.team-members .container .box .image {
  flex: 1;
}

.team-members .container .box .image img {
  max-width: 100%;
  border-radius: 10px;
  transition: filter var(--mine-transition);
}

.team-members .container .box:hover .image img {
  filter: grayscale(1);
}

.team-members .container .box .contact i {
  display: block;
  padding: 20px;
  color: #444;
  transition: var(--mine-transition);
}

.team-members .container .box .contact i:nth-child(1):hover {
  color: rgb(0, 110, 255);
}

.team-members .container .box .contact i:nth-child(2):hover {
  color: rgb(0, 140, 255)
}

.team-members .container .box .contact i:nth-child(3):hover {
  color: rgb(0, 110, 255)
}

.team-members .container .box .contact i:nth-child(4):hover {
  color: red
}

.team-members .container .box .text {
  flex-basis: 100%;
  padding: 20px;
  margin-left: 20%;
}

.team-members .container .box .text h3 {
  color: var(--mine-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: var(--mine-transition);
}

.team-members .container .box:hover .text h3 {
  color: #666;
}

.team-members .container .box .text p {
  color: #666;
}

/* End Team Members */
/* Start Services */

.services {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .srv {
  background-color: white;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--mine-transition);
  counter-increment: srv;
}

.services .container .srv:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 14%), 0 2px 4px 0 rgb(0 0 0 / 13%);
}

.services .container .srv::after {
  content: "0" counter(srv);
  background-color: var(--mine-color);
  width: 20%;
  height: 48.39px;
  color: white;
  font-size: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-left: 25px;
  align-items: center;
  font-weight: bold;
}

.services .container .srv::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  background-color: var(--mine-color);
  transition: var(--mine-transition);
}

.services .container .srv:hover::before {
  width: 100%;
}

.services .container .srv i {
  font-size: 70px;
  color: rgb(226, 226, 226);
  padding: 30px;
}

.services .container .srv h3 {
  color: var(--mine-color);
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 30px;
}

.services .container .srv a {
  padding: 15px;
  text-align: right;
  display: block;
  text-decoration: none;
  color: var(--mine-color);
  text-transform: capitalize;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.services .container .srv a::after {
  content: "";
  background-color: #E9E6E9;
  width: 15%;
  height: 150%;
  color: white;
  font-size: 28px;
  position: absolute;
  bottom: 0;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-30deg);
  z-index: 2;
}

/* End Services */
/* Start Our Skills */

.our-skills {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
}

.our-skills .container {
  display: flex;

}

.our-skills .container .image {
  display: none;
}

@media (min-width:992px) {
  .our-skills .container .image {
    display: block;
  }
}

.our-skills .container .image img {
  max-width: 100%;
}

.our-skills .skills {
  flex: 1;
}

.our-skills .skills .skill {
  margin-bottom: 20px;
  position: relative;
}


.our-skills .skills .skill h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.our-skills .skills .skill h4 span {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--mine-color);
  font-weight: bold;
  font-size: 14px;
  padding:3px 5px;
  border: 1px solid #ffc107;
  border-radius: 5px;
}

.our-skills .skills .skill .bar {
  height: 30px;
  width: 100%;
  background-color: #EEE;
  position: relative;
}

.our-skills .skills .skill .bar span {
  content: "";
  background-color: var(--mine-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* End Our Skills */
/* Start How It Works */

.how-work {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  background-color: var(--section-background);
}

.how-work .container {
  display: flex;
  align-items: center;
}

@media (max-width:991px) {
  .how-work .container {
    flex-direction: column;
  }
}

.how-work .container .box {
  padding: 30px;
  border: 1px white solid;
  display: flex;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

@media (max-width:767px) {
  .how-work .container .box {
    flex-direction: column;
    text-align: center;
  }
}

.how-work .container > img {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width:991px) {
  .how-work .container > img {
    margin: 0 0 40px;
  }
}

.how-work .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--mine-transition);
  background-color: #ededed;
}

.how-work .container .box:hover::before {
  width: 100%;
  height: 100%;
}

.how-work .container .box img {
  width: 64px;
  height: 64px;
  display: grid;
  place-self: center;
  z-index: 2;
  margin-right: 30px;
}

@media (max-width:767px) {
  .how-work .container .box img {
    margin: 0 0 20px;
  }
}

.how-work .container .box .text {
  z-index: 2;
}

.how-work .container .box .text h3 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
  color: #444;
}

.how-work .container .box .text p {
  font-size: 18px;
  color: #888;
  line-height: 1.6;
}

/* End How It Works */
/* Start Latest Events */

.latest-events {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  position: relative;
}

.latest-events::before {
  content: url(/image/background/dots.png);
  position: absolute;
  top: 200px;
  right: 0;
  z-index: -1;
}

.latest-events::after {
  content: url(/image/background/dots.png);
  position: absolute;
  bottom: 200px;
  left: 0;
  z-index: -1;
}

.latest-events .container .info {
  display: flex;
  align-items: center;
  align-items: center;
}


@media (max-width:991px) {
  .latest-events .container .image {
   display: none;
  }
}

.latest-events .container img {
  max-width: 450px;
}

.latest-events .container .content {
  text-align: center;
}

.latest-events .container .content .counter {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
}

.latest-events .container .content .counter .box {
  border: 1px solid #d4d4d4;
  text-align: center;
  border-radius: 6px;
  transition: var(--mine-transition);
}

.latest-events .container .content .counter .box:hover {
  border: 1px solid var(--mine-color);
}

.latest-events .container .content .counter .box h3 {
  color: var(--mine-color);
  font-weight: bold;
  font-size: 35px;
  padding: 15px;
  border-bottom: 1px solid #d4d4d4;
  transition: var(--mine-transition);
}

.latest-events .container .content .counter .box:hover h3 {
  border-bottom: 1px solid var(--mine-color);
}

.latest-events .container .content .counter .box span {
  display: block;
  padding: 10px;
}

.latest-events .container .content .text {
  margin-bottom: 100px;
}

.latest-events .container .content .text h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.latest-events .container .content .text p {
  line-height: 1.6;
  font-size: 18px;
  color: #777;
  max-width: 800px;
}

.latest-events .container form {
  background-color: #eee;
  padding: 30px;
  border-radius: 50px;
  margin: 30px auto 0;
  max-width: 600px;
}

@media (max-width:767px) {
  .latest-events .container form  {
    border-radius: 0;
  }
}

.latest-events .container form input:first-child {
  width: 75%;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-right: 2%;
}

@media (max-width:767px) {
  .latest-events .container form input:first-child {
    width: 100%;
    border-radius: 0;
    margin-bottom: 15px;
  }
}

.latest-events .container form input:first-child:focus::placeholder {
  color: white;
  transition: var(--mine-transition)
}

.latest-events .container form input:last-child {
  padding: 20px;
  background-color: var(--mine-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  width: 22%;
}

@media (max-width:767px) {
  .latest-events .container form input:last-child {
    width: 100%;
    border-radius: 0;
  }
}

.latest-events .container form input:last-child:hover {
  background-color: var(--mine-color-alt);
}

/* End Latest Events */
/* Start Priceing */

.Priceing {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  background-color: var(--section-background);
  position: relative;
}

.Priceing::before {
  content: url(/image/background/dots.png);
  position: absolute;
  top: 200px;
  right: 0;
}

.Priceing::after {
  content: url(/image/background/dots.png);
  position: absolute;
  bottom: 200px;
  left: 0;
}

.Priceing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.Priceing .container .plan {
  background-color: white;
  position: relative;
  z-index: 2;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

@media (min-width:1200px) {
  .Priceing .container .plan:first-of-type,
  .Priceing .container .plan:last-of-type {
    transform: translateY(20px);
  }
}
.Priceing .container .plan::after,
.Priceing .container .plan::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 0;
  transition: var(--mine-transition);
  background-color: #f0f0f0c2;
  z-index: -1;
}

.Priceing .container .plan::before {
  right: 0;
  top: 0;
}

.Priceing .container .plan::after {
  left: 0;
  bottom: 0;
}

.Priceing .container .plan:hover::before {
  width: 100%;
}

.Priceing .container .plan:hover::after {
  width: 100%;
}

.Priceing .container .plan:nth-child(2) .tag {
  position: absolute;
  color: white;
  background-color: var(--mine-color);
  font-weight: bold;
  transform: rotate(90deg);
  transform-origin: left top;
  padding: 10px;
  padding-right: 30px;
  top: 0;
  right: -100px;
  font-size: 18px;
}

.Priceing .container .plan:nth-child(2) .tag::before {
  content: "";
  width: 0;
  height: 0;
  border-color: var(--mine-color) white var(--mine-color) transparent;
  border-width: 20px;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0;
}

.Priceing .container .plan h3 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 25px;
  margin: 30px auto;
  width: fit-content;
  letter-spacing: -1px;
}

.Priceing .container .plan img {
  max-width: 80px;
  margin: 0 auto 50px;
  width: fit-content;
  display: block;
}

.Priceing .container .plan h4 {
  font-size: 60px;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  color: var(--mine-color);
}

.Priceing .container .plan span {
  display: block;
  margin: 0 auto;
  color: #777;
  width: fit-content;
  margin-bottom: 20px;
}

.Priceing .container .plan ul li {
  padding: 20px;
  border-top: 1px solid #EEE;
  
}

.Priceing .container .plan ul li i {
  color: var(--mine-color);
  margin-right: 10px;
}

.Priceing .container .plan a {
  display: block;
  margin: 40px auto;
  padding:20px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mine-color);
  border: var(--mine-color) 2px solid;
  border-radius: 6px;
  width: fit-content;
  font-weight: bold;
  transition: var(--mine-transition);
}

.Priceing .container .plan a:hover {
  color: white;
  background-color: var(--mine-color);
}

/* End Priceing */
/* Start Top Videos */
.top-videos {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
}

.top-videos .container .holder {
  display: flex;
  border: 1px solid #ddd;
}

@media (max-width:991px)  {
  .top-videos .container .holder {
    flex-direction: column;
  }
}

.top-videos .container ul {
 min-width: 300px;
}
.top-videos .container ul li:not(:first-child),
.top-videos .container ul li:first-child {
  padding: 20px;
  border-top: 1px solid #ddd;
  cursor: pointer;
}

.top-videos .container ul li:not(:first-child) {
  transition: var(--mine-transition);
}

.top-videos .container ul li:not(:first-child):hover {
  color: var(--mine-color);
  background-color: #fafafa;
}

.top-videos .container ul li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  font-weight: bold;
}

.top-videos .container ul li:not(:first-child) span {
  display: block;
  margin-top: 10px;
  color: #666;
}

.top-videos .container .videos {
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-videos .container .videos .image img {
  max-width: 100%;
}

.top-videos .container .videos p {
  background-color: white;
  padding: 20px;
  text-transform: capitalize;
  margin-top: 10px;
}

/* End Top Videos */
/* Start Stats */

.stats {
  padding-top: var(--mine-paddidng-section);
  padding-bottom: var(--mine-paddidng-section);
  position: relative;
}

.stats::before {
  content: '';
  background-image: url(/image/Stats/stats.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 5%;
  left: 0;
  top: 0;
  z-index: -1;
}

.stats .mine-title {
  font-size: 25px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.stats .container .stat {
  text-align: center;
  color: #222;
  background-color: white;
  padding: 30px 0;
  position: relative;
  transition: color var(--mine-transition);
}

.stats .container .stat:hover {
  color: black;
}

.stats .container .stat::after,
.stats .container .stat::before {
  content: "";
  width: 3px;
  height: 0px;
  background-color: var(--mine-color);
  position: absolute;
  transition: height 1s;
}

.stats .container .stat::before {
  left: 0;
  bottom: 0;
}

.stats .container .stat::after {
  top: 0;
  right:0 ;
}
.stats .container .stat:hover::before,
.stats .container .stat:hover::after {
  height: 100%;
}

.stats .container .stat h3 {
  font-size: 50px;
  margin: 10px 0px;
}

.stats .container .stat span {
  color: var(--mine-color);
  transition: color var(--mine-transition);
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  font-size: 20px;
}

.stats .container .stat:hover span {
  color: var(--mine-color-alt);
}

/* End Stats */
/* Start Discount */

.discount .holder {
  display: flex;
  min-height: 100vh;
}

@media (max-width:991px) {
  .discount .holder {
    flex-direction: column;
  }
}

.discount .info {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  animation: bg 10s linear infinite;
}

@media (min-width:992px) {
  .discount .info {
    width: 50%;
  }
}

@keyframes bg {
  100%,0% {
    background-image: url(/image/We-Have/disconut/discount-background1.jpg);
  }
  50% {
    background-image: url(/image/We-Have/disconut/discount-background2.jpg);
  }
}

.discount .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--mine-color-alt);
  opacity: 97%;
}

.discount .info .content {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.discount .info .content h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 20px 0 ;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.discount .info .content p {
  color: white;
  line-height: 1.6;
  font-size: 18px;
  margin: 20px 0;
  padding: 0 10px;
}

.discount .info .content .image img {
  width: 300px;
}

.discount form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media (min-width:992px) {
  .discount form {
    width: 50%;
  }
}

.discount form h2 {
  font-size: 38px;
  font-weight: bold;
  color: black;
  padding: 30px 0;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.discount form input {
  width: 300px;
  margin: 0 auto 25px;
  padding: 15px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  caret-color: var(--mine-transition);
}

.discount form textarea {
  width: 300px;
  margin: 0 auto 25px;
  padding: 15px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  caret-color: var(--mine-transition);
  resize: none;
  display: block;
}

.discount form input[type="submit"] {
  border: none;
  outline: none;
  background-color: var(--mine-color);
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.discount form input[type="submit"]:hover {
  background-color: var(--mine-color-alt);
}

/* End diccount */
/* Start Footer */

.footer {
  padding: 70px 0;
  background-color: #191919;
}

@media (max-width:767px) {
  .footer  {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .container .contact h2 {
  font-size: 50px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .container .contact .icons {
  margin-bottom: 20px;
}

.footer .container .contact .icons a {
  width: 50px;
  height: 50px;
  background-color: #313131;
  color: #b9b9b9;
  transition: var(--mine-transition);
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}

.footer .container .contact .icons a:nth-child(1):hover {
  background-color: #1877f2;
}

.footer .container .contact .icons a:nth-child(2):hover {
  background-color: #1da1f2;
}

.footer .container .contact .icons a:nth-child(3):hover {
  background-color: #ff0000;
}

.footer .container .contact p {
  line-height: 2;
  color: #b9b9b9;
}

.footer .container .links ul li {
  padding: 15px 0;
  color: #b9b9b9;
}

.footer .container .links ul li a {
  color: #b9b9b9;
  text-decoration: none;
  transition: var(--mine-transition);
}

.footer .container .links ul li:not(:last-child) {
  border-bottom: solid 1px #444;
}

.footer .container .links ul li a:hover {
  padding-left: 10px;
  color: white;
}

.footer .container .links ul li i {
  color: var(--mine-color);
  margin-right: 10px;
}

/* ---------------------------- */

.footer .container .location p {
  display: flex;
  font-size: 16px;
  line-height: 2;
  color: #b9b9b9;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width:767px) {
  .footer .container .location p {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.footer .container .location p i {
  margin-right: 10px;
  font-size: 26px;
  color: var(--mine-color);
  width: 20px;
}

.footer .container .image img {
  max-width: 80px;
  border: 3px white solid;
  margin: 2px 2px 0 0;
}

.end {
  text-align: center;
  background-color: #191919;
  padding: 20px 0;
  color: white;
  font-size: 16px;
  border-top: solid 1px #444;
}

/* End Footer */